
<div class="actionsBox sombra">
  <div class="boxImage">
    <%= image_tag('trashlogo.svg',:width => 200, :height => 150, :id => ''  )  %>
  </div>
  <div class="boxText">
    <p class="boxTitulo">Las solicitudes han sido eliminadas</p>
    <div class="description">
      <p></p>
    </div>
    <div class="returnBotton">
      <a href="requests"><%= image_tag('returnlogo.svg',:width => 50, :height => 100, :id => ''  )  %></a>
    </div>

  </div>
</div>
