<%= render 'helpersLayout/publicHeader' %>
<div id="boxMain">
  <div id="box">
    <div id="parrafo">
      <p id="welcome" class="mover_edutrack">EDUTRACK</p>
      <div id=text>
        <h2 class="desarrolladores_h2">¿Quiénes somos?</h2>
        <p class="desarrolladores_texto">Estamos muy orgullosos de presentar nuestra primera Apliación Web, desarrollada por estudiantes del CBTis 226 de programación, los cuáles con mucha dedicación y esfuerzo hemos sacado adelante este proyecto</p>
        <p class="desarrolladores_texto">Seguiremos avanzando para poder ofrecer productos de calidad e innovadores</p>
      </div>
    </div>
    <%= image_tag('lap.png',:width => 500, :height => 250, :id => 'lap'  )  %>
  </div>
</div>

<%= render 'helpersLayout/footer' %>
