<%= render 'helpersLayout/publicHeader' %>


<div id="boxMain">
  <div id="box">
    <div id="parrafo">
      <p id="welcome">Bienvenido a</p>
      <%= image_tag('logo.png',:width => 550, :height => 90, :id => 'ed'  )  %>
      <div id=text>
        <p>Estas en el sitio web para las admsiones del</p>
        <p> donde podras ver los resultados de las pruebas.</p>
      </div>
    </div>
    <%= image_tag('lap.png',:width => 500, :height => 250, :id => 'lap'  )  %>
  </div>
</div>
<%= render 'helpersLayout/footer' %>
