<footer>
  <div id="final">
    <div>
    <p>Control de alumnos por "TeamOP"(Vease pagina de desarrolladores) se distribuye bajo una</p>
    <p>licencia Creative Commons Atribucion-NoComercial-Compartirlgual 4.0 internacional.</p>
    </div>
    <div id="move_logo">
    <%= image_tag('logogris.png',:width => 180, :height => 30, :id => 'titulo'  )  %>
    </div>
  </div>
</footer>
