

  <header class="header">

    <div id="load">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <hi>Loading, please wait...</hi>
    </div>

    <%= image_tag('logo.png',:width => 180, :height => 30, :id => 'titulo'  )  %>
      <div id="bar">
        <nav>
          <ul>
            <li> <a class="boton" href="/index">INICIO</a></li>
            <li> <a class="boton" href="/admisiones">ADMISIONES</a></li>
            <li> <a class="boton" href="/desarolladores">DESARROLLADORES</a></li>
            <%if can? :update, Request %>
            <li> <a class="boton" href="/requests">SOLICITUDES</a></li>
            <% end %>
            <%if can? :update, Accepted %>
            <li> <a class="boton" href="/specialities">ESPECIALIDADES</a></li>
            <% end %>
            <%if can? :update, Accepted %>
            <li> <a class="boton"  href="/grupos">GRUPOS</a></li>
              <% end %>
              <%if can? :manage, Accepted %>
            <li> <a class="boton"  href="/admin">ADMIN</a></li>
            <% end %>
          </ul>
          </nav>
        </div>
      <div id="login">
          <p class="navbar-text pull-right">
        <span class="icon-user"></span>
        <% if user_signed_in? %>
        <%= link_to current_user.email, destroy_user_session_path, method: :delete  %>
        <% else %>
          <%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </div>
  </header>
