  <header class="header">
    <%= image_tag('logo.png',:width => 180, :height => 30, :id => 'titulo'  )  %>
      <div id="bar">
        <nav>
          <ul>
            <li> <a class="boton" href="/index">INICIO</a></li>
            <li> <a class="boton" href="/admisiones">ADMISIONES</a></li>
            <li> <a class="boton" href="requests">SOLICITUDES</a></li>
            <li> <a class="boton" href="specialities">ESPECIALIDADES</a></li>
            <li> <a class="boton"  href="/grupos">GRUPOS</a></li>
            <li><a class="boton" id="gen" href="/generate">GENERAR ACEPTADOS</a></li>
          </ul>
          </nav>
        </div>
      <div id="login">
          <p class="navbar-text pull-right">
        <span class="icon-user"></span>
        <% if user_signed_in? %>
        <%= link_to current_user.email, destroy_user_session_path, method: :delete  %>
        <% else %>
          <%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </div>
  </header>
