@font-face {
  font-family: 'icomoon';
<<<<<<< HEAD
  src:  url('fonts/icomoon.eot?gred5h');
  src:  url('fonts/icomoon.eot?gred5h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gred5h') format('truetype'),
    url('fonts/icomoon.woff?gred5h') format('woff'),
    url('fonts/icomoon.svg?gred5h#icomoon') format('svg');
=======
  src:  url('fonts/icomoon.eot?g5diqt');
  src:  url('fonts/icomoon.eot?g5diqt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g5diqt') format('truetype'),
    url('fonts/icomoon.woff?g5diqt') format('woff'),
    url('fonts/icomoon.svg?g5diqt#icomoon') format('svg');
>>>>>>> LaMeraMera
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e902";
}
<<<<<<< HEAD
.icon-pencil:before {
  content: "\e909";
}
.icon-folder-upload:before {
  content: "\e903";
}
.icon-address-book:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e905";
}
=======
>>>>>>> LaMeraMera
.icon-user:before {
  content: "\e900";
}
.icon-user-plus:before {
  content: "\e901";
}
<<<<<<< HEAD
.icon-key:before {
  content: "\e90a";
}
.icon-cog:before {
  content: "\e90b";
}
.icon-bin:before {
  content: "\e906";
}
.icon-bin2:before {
  content: "\e90c";
}
.icon-plus2:before {
  content: "\e907";
}
.icon-blocked:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90e";
}
=======
>>>>>>> LaMeraMera

